// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url('https://fonts.googleapis.com/css2?family=Hanalei+Fill&family=Oswald:wght@400;700&display=swap');

h1 {
  font-family: 'Hanalei Fill', cursive;
}

p {
  font-family: 'Oswald', sans-serif;
  font-weight: regular;
}

.submit-btn, .question-input, a {
  display: inline-block;
  padding: 10px 15px;
  font-size: 20px;
  border-radius: 4px
}

.submit-btn, a {
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  font-size: 16px;
  background-color: #00587a;
  border: none;
  color: white;
  border: 1px solid transparent;
  text-decoration: none;
}

.question-input {
  border: 1px solid lightgray;
}

.quote-container {
  border-left: 4px solid gray;
  padding: 0 4px;
  margin: 4px 0
}

.quote-container p {
  margin-left: 4px;
}

